.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.pnp.js
.pnp/
build/
coverage/
node_modules/
npm-debug.log*

.yarn-integrity
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*
